.reviews-header {
  background-color: #56b7e9;
  color: white;
  padding: 0.3em 0.8em;
}
h6 {
  margin-bottom: 0;
}
.reviews-spinner {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
